/*------------------------------------------default------------------------------------------*/

.Btn,
.Btn--default,
.Btn--default-outline{
    background-color: #3581bc;
    border: 1px #3581bc solid;
    border-radius: 35px;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font: 400 13px/1 "Roboto", Arial, sans-serif;
    height: 35px;
    margin: 0;
    min-width: 35px;
    text-align: center;
    text-decoration: none;
    transition: all 0.4s ease-in-out;
    outline: none;
    overflow: hidden;
    position: relative;
}

.Btn--default-outline {
    height: 35px;
    background-color: transparent;
    border: 1px #3581bc solid;
    color: #3581bc;
    line-height: 1.3;
}

.Btn--default-outline:hover,
.Btn--default-outline:active {
    border-color: #286a9c;
    color: #286a9c;
}

.Btn--default:hover,
.Btn--default:active {
    background-color: #286a9c;
    color: #FFF;
    border-color: #286a9c;
}

/*------------------------------------------success------------------------------------------*/

.Btn--success,
.Btn--success-outline {
    background-color: #5ac2a0;
    border: 1px #5ac2a0 solid;
    border-radius: 35px;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font: 400 13px/1 "Roboto", Arial, sans-serif;
    height: 35px;
    margin: 0;
    min-width: 35px;
    text-align: center;
    text-decoration: none;
    transition: all 0.4s ease-in-out;
    outline: none;
}

.Btn--success:active,
.Btn--success-outline:active {
    transition: all 0.4s ease-in-out;
}

.Btn--success:hover,
.Btn--success:active {
    background-color: #4bbd98;
    color: #FFF;
    border: 1px #4bbd98 solid;
}

.Btn--success-outline {
    height: 35px;
    background-color: transparent;
    border: 1px #5ac2a0 solid;
    color: #5ac2a0;
}

.Btn--success-outline:hover,
.Btn--success-outline:active {
    border-color: #4bbd98;
    color: #4bbd98;
}


/*------------------------------------------danger------------------------------------------*/

.Btn--danger,
.Btn--danger-outline {
    background-color: #e45b5b;
    border: 1px #e45b5b solid;
    border-radius: 35px;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font: 400 13px/1 "Roboto", Arial, sans-serif;
    height: 35px;
    margin: 0;
    min-width: 35px;
    text-align: center;
    text-decoration: none;
    transition: all 0.4s ease-in-out;
    outline: none;
}


.Btn--danger:active,
.Btn--danger-outline:active {
    transition: all 0.4s ease-in-out;
}

.Btn--danger:hover,
.Btn--danger:active {
    background-color: #e14848;
    border: 1px #e14848 solid;
    color: #FFF;
}

.Btn--danger-outline {
    height: 35px;
    background-color: transparent;
    border: 1px #e45b5b solid;
    color: #e45b5b;
}

.Btn--danger-outline:hover,
.Btn--danger-outline:active {
    border-color: #e14848;
    color: #FFF;
}


/*------------------------------------------warnning------------------------------------------*/

.Btn--warning,
.Btn--warning-outline {
    background-color: #D2AB7D;
    border: 1px #D2AB7D solid;
    border-radius: 35px;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font: 400 13px/1 "Roboto", Arial, sans-serif;
    height: 35px;
    margin: 0;
    min-width: 35px;
    text-align: center;
    text-decoration: none;
    transition: all 0.4s ease-in-out;
    outline: none;
}


.Btn--warnning:active,
.Btn--warnning-outline:active {
    transition: all 0.4s ease-in-out;
}

.Btn--warnning:hover,
.Btn--warnning:active {
    background-color: #d2a163;
    color: #FFF;
    border: 1px #d2a163 solid;
}

.Btn--warnning-outline {
    height: 35px;
    background-color: transparent;
    border: 1px #D2AB7D solid;
    color: #D2AB7D;
}

.Btn--warnning-outline:hover,
.Btn--warnning-outline:active {
    border-color: #D2AB7D;
}


/*------------------------------------------icon------------------------------------------*/

.Btn i,
.Btn--default i {
    position: relative;
}

.Btn--icon-before i {
    margin-right: 9px;
}

.Btn--icon-after i {
    margin-left: 9px;
}

.Btn--square {
    padding-left: 0;
    padding-right: 0;
    padding-top: 3px;
    width: 35px;
    font-size: 14.3px;
    border-radius: 5px;
}


/*------------------------------------------margin------------------------------------------*/

.Btn--margin-left{
    margin-left: 15px;
}

.Btn--margin-right{
    margin-right: 15px;
}

/*------------------------------------------height------------------------------------------*/

.Btn--height-20{
    height: 20px;
}


/*------------------------------------------tab------------------------------------------*/

.Btn .tab{
    margin: 0 5px;
}

.Btn--square .tab{
    margin: 0;
}


/*------------------------------------------Sweet Alert------------------------------------------*/
.sweet-alert button {
    padding: 5px 32px;
    border-radius: 35px;
}